/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--headerHeight) 0 0 0;
  font-family: var(--fontStyle);
  font-size: var(--fontSizeNormal);
  background-color: #242526;
  color: #ffffff;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.sectionTitle {
  position: relative;
  font-size: var(--fontSizeH2);
  color: #ffffff;
  margin-top: var(--margin1);
  margin-bottom: var(--margin2);
  text-align: center;
}

.sectionTitle::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: #2a7da2;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.layout {
  max-width: 1130px;
  margin-left: var(--margin1);
  margin-right: var(--margin1);
}

.menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--zFixed);
  background-color: #18191a;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.navMenu {
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--fontWeight);
}

@media screen and (max-width: 767px) {
  .navMenuOptions {
    position: fixed;
    top: var(--headerHeight);
    right: -100%;
    width: 80%;
    height: 1000%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
}

  .homeLinksIcon{
    padding: 15px;
  }

  .workImg {
    padding: 1.3px;
  }

  .skillsIcon {
    width: 4rem;
    height: 4rem;
  }

}

.navOption {
  margin-bottom: var(--margin2);
}

.navLink {
  position: relative;
  color: #ffffff;
}

.navLogo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.navLogo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoIcon {
  width: 30px;
  height: 30px;
}

.logoText {
  color: #03a9f4;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.3rem;
}

.navLink:hover {
  position: relative;
}

.navLink:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #03a9f4;
}

.nav .navLogo {
  color: #b3b3b3;
}

.navMenuToggle {
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #03a9f4;
}

/*=== Show menu ===*/
.show {
  right: 0;
  background-color:#18191a;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

.homeData {
  display: flex;
  justify-content: center;
}

.homeTitle {
  font-size: var(--fontHigher);
  margin-bottom: var(--margin3);
  text-align: justify;
}

.homeTitleColor {
  color: #03a9f4;
}

.homeLinks {
  display: flex;
  justify-content: center;
}

.homeLinksIcon {
  width: max-content;
  margin-bottom: var(--margin1);
  font-size: 2.5rem;
  color: #2a7da2;
}

.homeLinksIcon:hover {
  color: #03a9f4;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: #2a7da2;
  color: #ffffff;
  padding: .75rem 2.5rem;
  font-weight: var(--fontWeight);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  background-color: #03a9f4;
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.aboutContainer {

  text-align: center;
}

.aboutInfo{
  text-align: center;
}

/* ===== SKILLS =====*/
.skillsContainer {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  row-gap: 2rem;
  }

.skillsData {
  font-weight: var(--fontWeight);
  padding: .5rem 1rem;
  margin-bottom: var(--margin2);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  margin-right: var(--margin1);
}

.skillsIcon {
  width: 4rem;
  height: 4rem;
  color: #2a7da2;
  margin-bottom:var(--margin2);
}

.skillsName {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== WORK =====*/
.workContainer {
  row-gap: 2rem;
  display: flex;
  justify-content: center;
}

.workImg {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.workImg img {
  transition: 1s;
}

.workImg img:hover {
  transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contactContainer{
  display: flex;
  justify-content: center;
}

.contactInput {
  width: 100%;
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeight);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid #2a7da2;
  outline: none;
  margin-bottom: var(--margin2);
}

.contactButton {
  width: 100%;
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeight);
  padding: 1rem;
  border-radius: .5rem;
  border: none;
  margin-bottom: var(--margin2);
  cursor: pointer;
}

/* ===== FOOTER =====*/
.footer {
  background-color: #18191a;
  color: #ffffff;
  text-align: center;
  font-weight: var(--fontWeight);
  padding: 2rem 0;
}

.footerLinks {
  margin-bottom: var(--margin2);
}

.footerIcon {
  font-size: 3rem;
  color: #2a7da2;
  margin: 0 var(--margin1);
}

.footerIcon:hover {
  font-size: 3rem;
  color: #03a9f4;
  margin: 0 var(--margin1);
}

.footerMade{
  color: #404040;
}

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  background: none;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#backToTopButton circle {
  fill: #2a7da2;
}

#backToTopButton circle:hover {
  fill: #03a9f4;
}

/* ===== NOTIFICATIONS =====*/
.sentNotification {
  position: fixed;
  top: 6.25rem;
  right: var(--margin1);
  padding: .700rem;
  border-radius: 8px;
  color: #ffffff;
  font-family: var(--fontStyle);
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeight);
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.sentNotification.success {
  background-color: #03a9f4;
  display: flex;
  align-items: center;
}

.sentNotification.error {
  background-color: red;
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.icon.hide {
  opacity: 0;
}

.sentNotification.hide {
  opacity: 0;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }

  .skillsIcon {
    width: 4rem;
    height: 4rem;
  }

}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .homeLinks {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .homeLinksIcon {
    margin-bottom: 0;
    margin-right: var(--margin2);
  }
  
  .aboutContainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skillsContainer {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }

  .skillsIcon {
    width: 10rem;
    height: 10rem;
  }

  .workContainer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contacForm {
    width: 360px;
    padding-top: 2rem;
  }
  .contactContainer {
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .sectionTitle {
    margin-bottom: var(--margin4);
  }
  .sectionTitle::after {
    width: 80px;
    top: 3rem;
  }
  .navMenu {
    height: calc(var(--headerHeight) + 1.5rem);
  }
  .navMenuList {
    display: flex;
    padding-top: 0;
  }
  .navOption {
    margin-left: var(--margin4);
    margin-bottom: 0;
  }
  .navMenuToggle {
    display: none;
  }
  .navLink {
    color: #ffffff;
  }
  .home {
    padding: 8rem 0 2rem;
  }
  
  .aboutContainer {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skillsContainer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .workContainer {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .layout {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
}
